#header-home { 
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI';
    font-size: 20px;
    border: ridge 4px rgb(9, 236, 206);
    border-radius: 4px;
    padding: 5%;
    margin: 5%;

}
#desc-home { 
    align-content: center; 
    justify-content: center; 
    display: flex;
}
#trash-link {
    align-content: center; 
    justify-content: center; 
    display: flex;
}